/*Some RGB values are from logo image I've created*/
body{    
    background: linear-gradient(rgba(48,48,48,0.2), rgba(255,255,255,0.6)), url("/images/Background.jpg");  
    /*Sets drop shadow for entire page*/
    text-shadow: 1px 1px black;   
}
/*Change font sizes for headers, and paragraphs*/
h1{
    font-size: 36px; 
}
h4{
    font-size: 28px;
}
p{
    font-size: 18px;
}
/*Format tables to fit the entire page and be split down the middle*/
table, th, td{
    table-layout: fixed;
    border: 3px inset white;    
    font-size: 20px; 
    margin-bottom: 20px;
    width: 100%;
}
/*Top of page, different background colour and has margins on all sides*/
#top{
    background-color: rgba(27,85,86,0.97);
    color: white;
    margin: 10px;    
}
/*Add a border and some margins around the bio pick image so it looks nicer*/
img{
    border: inset white 2px;
    max-width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
/*Set the rest of the rows (minus the top) and their colours*/
.row{     
    background-color: rgba(35,115,116, 0.96);
    color: white;
    justify-content: center; 
    margin-top: 10px;      
    margin-left: 10px;
    margin-right: 10px;
}
/*Keeps the boxes of title and info together but keeps them as separate divs*/
#info{
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;       
}
hr{     
    /*Set thicker borders*/
    border: 3px solid white;
}
/*Change background color to white and text to black if width is 480px or less
Also removes text shadow, not needed with a white background
It looks fine without being a white background, even on a phone, but assignment says make it white*/
@media screen and (max-width: 480px) {
    .row{
        background-color: white;
        text-shadow: none;
        color: black;
    }   
    #top{
        background-color: white;
        text-shadow: none;
        color: black;
    }
}