/*RGB values are from logo image I've created*/
body{    
    background-image: url("/images/Background.jpg");    
}
#top{
    background-color: rgb(68,68,68);
    color: white
}
.row{     
    background-color: rgb(98,98,98);
    color: white;
    justify-content: center;   
    
}
hr{   
    border: none;
    /*Set thicker borders*/
    border-top: 5px solid rgb(94, 0, 209);
}
/*Change background color to white and text to black if width is 480px or less*/
@media screen and (max-width: 480px) {
    .row{
        background-color: white;
        color: black;
    }   
}